<!-- views/devices.ejs -->
<h1>Devices</h1>

<div class="device-grid">
    <% devices.forEach(device => { %>
        <div class="device-square" data-device-name="<%= device.url %>">
            <a href="/device/<%= device._id %>"><%= device.name %></a>

            <% if (device.type === 'sensor' || device.type === 'lamp' || device.type === 'lock') { %>
                <p id="value_<%= device.url %>">Value: Loading...</p>
                <% if (device.type === 'lamp' || device.type === 'lock') { %>
                    <a href="/turnOn/<%= device._id %>">Turn On</a>
                    <a href="/turnOff/<%= device._id %>">Turn Off</a>
                <% } %>
            <% } else if (device.type === 'card reader') { %>
                <p id="value_<%= device.url %>">Value: Loading...</p>
            <% } else if (device.type === 'camera') { %>
                <!-- No additional information for Camera type -->
            <% } %>

            <p>Type: <%= device.type %></p>
        </div>
    <% }); %>
</div>

<script>
    function fetchDeviceValue(deviceName) {
        fetch(`/api/device/${deviceName}/value`)
            .then(response => response.json())
            .then(data => {
                const valueElement = document.getElementById(`value_${deviceName}`);
                if (valueElement) {
                    if (data.type === 'card reader') {
                        valueElement.textContent = `Value: ${data.value}`;
                    } else if (data.type === 'sensor' || data.type === 'lamp' || data.type === 'lock') {
                        valueElement.textContent = `Value: ${data.value}`;
                    }
                }
            })
            .catch(error => console.error('Error fetching device value:', error));
    }

    function fetchAllDeviceValues() {
        const deviceNames = Array.from(document.querySelectorAll('.device-square')).map(square => square.getAttribute('data-device-name'));
        deviceNames.forEach(fetchDeviceValue);
    }

    // Fetch device values initially
    fetchAllDeviceValues();

    // Fetch device values every 10 seconds
    setInterval(fetchAllDeviceValues, 200); // 10000 milliseconds = 10 seconds
</script>
